In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
APD_2013 = "APD_Data/2013_APD_Traffic_Fatalities.csv"
APD_2014 = "APD_Data/2014_APD_Traffic_Fatalities.csv"
APD_2015 = "APD_Data/2015_APD_Traffic_Fatalities.csv"
APD_2016 = "APD_Data/2016_APD_Traffic_Fatalities.csv"
APD_2017 = "APD_Data/2017_APD_Traffic_Fatalities.csv"
APD_2018 = "APD_Data/2018_APD_Traffic_Fatality_Data_021219.csv"


APD_2013_df = pd.read_csv(APD_2013)
APD_2014_df = pd.read_csv(APD_2014)
APD_2015_df = pd.read_csv(APD_2015)
APD_2016_df = pd.read_csv(APD_2016)
APD_2017_df = pd.read_csv(APD_2017)
APD_2018_df = pd.read_csv(APD_2018)

In [3]:
APD_2013_df = APD_2013_df.drop(['FATAL CRASH #', 'CASE NUMBER', 'speed', 'AREA', 'LOCATION', 'Drivers License Status','SUSPECTED IMPAIRMENT', 'Related', 'FTSRA', 'XCOORD', 'YCOORD', 'TYPE OF ROAD', 'Ran Red Light', 'restraint or helmet', 'Killed: Driver/Pass'], axis=1)

APD_2014_df = APD_2014_df.drop(['FATAL CRASH #', 'CASE NUMBER', 'Speeding', 'AREA', 'Location', 'Drivers License Status','SUSPECTED IMPAIRMENT', 'Related', 'FTSRA', 'X COORD', 'Y COORD', 'TYPE OF ROAD', 'Ran Red Light', 'restraint or helmet', 'Charge', 'Killed: Driver/Pass'], axis=1)
APD_2014_df = APD_2014_df.rename(columns={"TYPE": "Type"})

APD_2015_df = APD_2015_df.drop(['FATAL CRASH #', 'CASE NUMBER', 'Speeding', 'AREA', 'LOCATION', 'DL Status','SUSPECTED IMPAIRMENT', 'Related', 'FTSRA', 'X COORD', 'Y COORD', 'TYPE OF ROAD', 'Ran Red Light', 'restraint or helmet', 'charge', 'Killed: driver/pass'], axis=1)
APD_2015_df = APD_2015_df.rename(columns={"TYPE": "Type"})

APD_2016_df = APD_2016_df.drop(['FATAL CRASH Number', 'CASE NUMBER', 'Speeding', 'AREA', 'LOCATION', 'DL Status','SUSPECTED IMPAIRMENT', 'Related', 'FTSRA', 'COORD X', 'Y COORD', 'TYPE OF ROAD', 'Ran Red Light or Stop Sign', 'restraint or helmet', 'Victim', 'charge'], axis=1)
APD_2016_df = APD_2016_df.rename(columns={"TYPE": "Type"})

APD_2017_df = APD_2017_df.drop(['Fatal crash number', 'Case Number', 'Speeding', 'Area', 'Location', 'DL status incident ','Suspected Impairment', 'Related', 'Failure to stop and render aid', 'X coord', 'Y coord', 'Type of road', 'Ran red light or stop sign', 'Restraint helmet', 'Charge', 'Killed driver pass'], axis=1)

APD_2018_df = APD_2018_df.drop(['Fatal Crash Number', 'Case Number', 'Case Status', 'Speeding', 'Area', 'Location', 'DL Status incident','Suspected Impairment', 'Related', 'Failure to stop and render aid', 'X coord', 'Y coord', 'Type of road', 'Ran Red Light or Stop Sign', 'Restraint type', 'charge', 'Killed driver pass'], axis=1)

In [4]:
Merged_df = pd.merge(APD_2013_df, APD_2014_df, how='outer')

In [5]:
Merged_df2 = pd.merge(Merged_df, APD_2015_df, how='outer')

In [6]:
Merged_df3 = pd.merge(Merged_df2, APD_2016_df, how='outer')

In [7]:
Merged_df4 = pd.merge(Merged_df3, APD_2017_df, how='outer')

In [8]:
Merged_df_final = pd.merge(Merged_df4, APD_2018_df, how='outer')

In [9]:
Merged_df_final

,Type,Number of Fatalities,Date,Month,Day,Hour,Time
0,Motorcycle,2,01/01/2013,Jan,Tue,18,18:50:00
1,Motor Vehicle,1,01/03/2013,Jan,Thu,4,04:10:00
2,Motor Vehicle,1,01/08/2013,Jan,Tue,7,07:30:00
3,Motor Vehicle,1,01/15/2013,Jan,Tue,11,11:31:00
4,Motor Vehicle,1,01/18/2013,Jan,Fri,15,15:28:00
5,Motorcycle,1,01/19/2013,Jan,Sat,17,17:08:00
6,Motor Vehicle,1,01/10/2013,Jan,Thu,4,04:03:00
7,Motor Vehicle,1,01/30/2013,Jan,Wed,0,00:28:00
8,Pedestrian,1,02/02/2013,Feb,Sat,20,20:52:00
9,Pedestrian,1,02/06/2013,Feb,Wed,20,20:10:10
10,Motor Vehicle,1,02/12/2013,Feb,Tue,10,10:58:00
11,Pedestrian,1,02/17/2013,Feb,Sun,23,23:12:00
12,Motor Vehicle,1,02/19/2013,Feb,Tue,14,14:57:00
13,Motor Vehicle,1,02/21/2013,Feb,Thu,23,23:37:00
14,Pedestrian,1,02/22/2013,Feb,Fri,3,03:50:00
15,Motor Vehicle,1,03/04/2013,Mar,Mon,7,07:29:00
16,Pedestrian,1,03/08/2013,Mar,Fri,2,02:20:00
17,Motorcycle,1,03/13/2013,Mar,Wed,7,07:45:00
18,Pedestrian,1,03/13/2013,Mar,Wed,14,14:30:00
19,Motorcycle,1,03/17/2013,Mar,Sun,14,14:20:00
20,Motor Vehicle,1,03/22/2013,Mar,Fri,22,22:45:00
21,Pedestrian,1,03/23/2013,Mar,Sat,7,07:45:00
22,Motor Vehicle,1,04/02/2013,Apr,Tue,11,11:38:00
23,Pedestrian,1,04/09/2013,Apr,Tue,6,06:04:00
24,Pedestrian,1,04/18/2013,Apr,Thu,20,20:35:00
25,Pedestrian,1,04/20/2013,Apr,Sat,0,00:50:00
26,Motorcycle,1,04/20/2013,Apr,Sat,1,01:31:00
27,Motor Vehicle,1,04/21/2013,Apr,Sun,20,20:24:00
28,Pedestrian,1,05/07/2013,May,Tue,22,22:08:00
29,Pedestrian,1,05/11/2013,May,sat,1,01:11:00
...,...,...,...,...,...,...,...
415,MOTOR VEHICLE,1,08/25/2018,Aug,Sat,1,01:24
416,Pedestrian,1,08/16/2018,Aug,Thu,21,21:17
417,MOTOR VEHICLE,1,08/21/2018,Aug,Tue,6,06:00
418,Pedestrian,1,09/02/2018,Sep,Sun,7,07:44
419,Pedestrian,1,09/02/2018,Sep,Sun,22,22:12
420,Pedestrian,1,08/18/2018,Aug,Sat,2,02:33
421,Pedestrian,1,09/11/2018,Sep,Tue,22,22:29
422,MOTOR VEHICLE,1,09/22/2018,Sep,Sat,10,10:28
423,Pedestrian,1,09/20/2018,Sep,Thu,23,23:36
424,MOTOR VEHICLE,1,10/03/2018,Oct,Wed,0,00:24
425,Pedestrian,1,10/10/2018,Oct,Wed,2,02:05
426,Pedestrian,1,10/12/2018,Oct,Fri,6,06:32
427,Motor Vehicle,1,10/12/2018,Oct,Fri,17,17:52
428,MOTOR VEHICLE,1,10/16/2018,Oct,Tue,19,19:52
429,MOTOR VEHICLE,1,10/17/2018,Oct,Wed,15,15:07
430,Pedestrian,1,10/19/2018,Oct,Fri,2,02:20
431,Pedestrian,1,10/30/2018,Oct,Tue,3,03:50
432,MOTOR VEHICLE,1,10/29/2018,Oct,Sun,22,22:46
433,Pedestrian,1,11/02/2018,Nov,Fri,11,11:52
434,Pedestrian,1,11/03/2018,Nov,Sat,0,00:33
435,Pedestrian,1,11/04/2018,Nov,Sun,1,01:40
436,MOTOR VEHICLE,1,11/09/2018,Nov,Fri,21,21:43
437,Bicycle,1,11/09/2018,Nov,Fri,18,18:23
438,MOTOR VEHICLE,1,11/22/2018,Nov,Thu,15,15:17
439,Pedestrian,1,11/27/2018,Nov,Tue,13,13:46
440,MOTOR VEHICLE,1,11/29/2018,Nov,Thu,19,19:48
441,Pedestrian,1,12/01/2018,Dec,Sat,1,01:28
442,MOTOR VEHICLE,1,12/04/2018,Dec,Tue,20,20:39
443,Motorcycle,1,12/21/2018,Dec,Fri,20,20:21
444,MOTOR VEHICLE,1,12/30/2018,Dec,Sun,2,02:24